/*
FOOTER:
<footer>
            <p>© 2026 NextGen Academy | Todos los derechos reservados.</p>
        </footer>

*/

/*
LOGO DE LA ACADEMIA:


*/

/*
NAVBAR:

*/

/*
PALETA DE COLORES
*/

/*
FUENTE:


*/



